body{
	
	background-color: #7b7474;
}



@media (min-width: 535px) and (max-width: 824px){

body{
		background-color: #d55050;
		color: white;
	}

	.formulario{
		border: 6px solid white;
	}
	
}

@media (min-width: 200px) and (max-width: 534px){

body{
		background-color: yellow;
		color: white;
	}

	.formulario{
		border: 6px solid green;
	}
	
}
	

